header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 150px;
  padding: 0 2rem;
  box-sizing: border-box;
  position: sticky;
  top: 1rem;
}

nav {
  & ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 2.5rem;
    list-style: none;

    & a {
      text-decoration: none;
      color: var(--white);
    }
  }
}
