.skills {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  gap: 1rem;
}

.skills-title {
  color: var(--dark-blue);
  grid-area: title;
  text-align: left;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  scroll-margin-top: 5rem;

  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: "#";
  }
}

.skills-list {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--main-blue);
  background-color: var(--ice);
  border-radius: 15px;
  padding: 1rem;
  gap: 1rem;
  & h3 {
    color: var(--main-blue);
    margin: 0;
  }
}

.skills-list-items {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
  gap: 1.5rem;
}

.skills-logo {
  will-change: filter;
}

.skills-logo-html:hover {
  filter: drop-shadow(0 0 2em #e34c26aa);
}

.skills-logo-css:hover {
  filter: drop-shadow(0 0 2em #1572b6aa);
}

.skills-logo-javascript:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.skills-logo-react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.skills-logo-node:hover {
  filter: drop-shadow(0 0 2em #339933aa);
}

.skills-logo-express:hover {
  filter: drop-shadow(0 0 2em #000000aa);
}

.skills-logo-postgresql:hover {
  filter: drop-shadow(0 0 2em #336791aa);
}

.skills-logo-prisma:hover {
  filter: drop-shadow(0 0 2em #0c344bba);
}

.skills-logo-api:hover {
  filter: drop-shadow(0 0 2em #6a5acdba);
}

.skills-logo-git:hover {
  filter: drop-shadow(0 0 2em #f05032aa);
}

.skills-logo-jest:hover {
  filter: drop-shadow(0 0 2em #c21325aa);
}

.skills-logo-vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.skills-logo-vscode:hover {
  filter: drop-shadow(0 0 2em #007accaa);
}

.skills-logo-webstorm:hover {
  filter: drop-shadow(0 0 2em #00c4ffaa);
}
