#root {
  width: clamp(666px, 100%, 1200px);
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  gap: 2rem;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  color: #0b1215;
}
